<body>

  <div class="box-area">

    <!-- <app-professor></app-professor> -->
    <div class="banner-area">
      <h2>實驗室成員</h2>
    </div>
    <div class="content-area">
      <div class="container">
        <div class="row">
          <div class="wrapper">

            <h2>目前成員</h2>

            <div *ngIf="masterStudent.length>0">
              <h3>碩士班</h3>
              <div class="container-fluid">

              <div class="card-deck">

                <div class="row row-cols-1 row-cols-md-3 g-4" >

                <div *ngFor="let student of masterStudent">

                    <div class="col">
                      <div class="card-f">
                        <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                        </div>
                          
                          <p>
                            {{student.index}}
                            {{student.name}}<br>
                            研究方向：{{student.field}}
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
            <br>
            <div *ngIf="masterJobStudent.length>0">
              <h3>碩士在職專班</h3>
              <div class="container-fluid">

                <div *ngFor="let student of masterJobStudent">
                  <!-- 其他資料 -->




                  <div class="col-md-4">
                    <div class="card">
                      <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                      </div>
                      <p>
                        {{student.index}}
                        {{student.name}}<br>
                        研究方向：{{student.field}}
                      </p>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <br>
            <br>





          </div>
        </div>

      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>