   
h2 {
    font-weight: 400;
    font-size: 1.4em;
    font-family: poppins;
    border-bottom: 2px solid #fff;
    padding-left: 0.5em;
    }

.wrapper {
	margin: 0 auto;
    background-color: #262626;
    width: 100%;
	position: relative;
	top: 450px;
	height: auto;
}

.footer-logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.footer-logo a {
	text-decoration: none;
	font-size: 2em;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

.title{
    font-size:2.0em;
    font-family: poppins;
	color: #fff;
	top: 450px;
}

.fas{
    color: #fff;
}
.text-white{
    font-size: 1.1em;
}

@media(max-width: 700px){
    .title{
        font-size:1.5em;
    }
    .mb-4 p{
        font-size: 1em;
    }
    h2{
        font-size: 1.3em;
    }
    .wrapper{
        top: 260px;

    }
}