/* .navbar{
	position: fixed;
	z-index: 10;
	height: 100px;
	width: 100%;
	background-color: #262626;
	padding-right: 13%;
	padding-left: 13%;
} */
.nav-f{
	padding-right: 13%;
	padding-left: 13%;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-size: 1.5em;
	font-family: poppins;
	padding-inline: 1em;
}
nav img{
	width: 120px;
}

.title{
	color: #fff;
	font-size: 2.0em;
	font-family: poppins;
	width: 15px;
}

.details{
	color: #fff;
	font-size: 1em;
	font-family: poppins;
	/* width: 15px; */
}

body {
	text-align: center;
}
.dropdown-item{
	color: #262626;
	font-size: 1.4em;
	font-family: poppins;
}
li.navbar-item a{
	color: #fff;
	font-size: 2.0em;
	font-family: poppins;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
nav{
	padding-right: 13%;
	padding-left: 13%;
}
.col-6{
	padding-top: 5px;
}

@media(max-width: 700px){
 	.navbar-brand{
	/* font-size:1.5em; */
		padding-left: 0;
		/* width: 15px; */
		text-align: left;
	}
	img{
		width: 78px !important;
		padding-right: 0;
	}
	.navbar-toggler{
		size: 20px !important;

	}
	.navbar{
		padding-right: 3%;
		padding-left: 3%;
	}

	.title{
		color: #fff;
		font-size: 1.3em;
		font-family: poppins;
		text-align: center;
	}
	.details{
		color: #fff;
		font-size: 0.8em;
		font-family: poppins;
		/* width: 15px; */
	}
	.col-3{
		padding-right: 0;
	}
	
	.navbar-dark .navbar-nav .nav-link{
		font-size: 1em;
	}
	.dropdown-item{
		font-size: 1em;

	}
}