<body>

<div class="box-area">

<!-- <app-professor></app-professor> -->
<div class="banner-area">
	<h2>指導教授</h2>
</div>
<div class="content-area">
	<div class="wrapper">
		<h2>XXX</h2>
		<p>Associate Professor at Department of Computer Science and Information Engineering,
			<br>National XXX University<br>Big Data Lab.(大數據實驗室)</p>
		<br>
		<h3>BIOGRAPHY</h3>
		<p>Tin-Yu Wu currently works as an Assistant Professor in the Department of Computer Science & Information Engineering, National Ilan University, Taiwan. He received his M.S. and Ph.D. degrees in the Department of Electrical Engineering, National Dong Hwa University, Hualien, Taiwan in 2000 and 2007 respectively. His research interests focus on the Big Data, Cloud Computing, IoTs and Mobile Computing.

		</p>
		</div>
</div>
</div>
</body>
