
<body>

    <div class="box-area">
    
    <div class="banner-area">
       
        <h2>大數據實驗室</h2>
    </div>
    <div class="content-area"><div class="container">
		<div class="row">
        <div class="wrapper">
            <h2>關於我們</h2>
            <p>大數據對於實用層面的影響非常大，能夠為日常生活棘手的問題找到答案，並可能會徹底重塑我們的生活、工作和思考方式；大數據代表著「資訊社會」中的「DATA」已經站上舞台的中心，所有我們過去蒐集的數位點滴，都能夠用創新的方式操控，達成新的目標，並展開新的價值形式。</p>
<p>目前各國的學者們針對目前許多急迫的全球性問題，想藉由大數據的分析來找出應對的方法，例如：想要解決氣候變遷就必須分析汙染資料，找出可努力的重點方法 來抑止問題的源頭、減輕問題的後果，可以將感測器(Sensor)放置在世界各地，包括內建在智慧型手機裡，來取得豐富的資料和細節並來模擬出全球暖化的 實況要完成大數據的分析需要幾項關鍵技術的配合，如：雲端運算技術(分散式運算技術)、非關聯式資料資料庫(NoSQL)分析、物聯網與感測器技術等等。</p>
			</div>
    </div>
    </div>
    </div>
    </div>
    </body>
    <app-footer></app-footer>