

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fixed Header with html and css | Collapsing Header Tutorial</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
	<!-- <link href=".../src/style.css" rel="stylesheet"> -->
</head>
<body>
	<div class="box-area">
		<header>
		<div class="logo">

			<img src="https://static.wixstatic.com/media/2bf13e_c0c689932c8b46d889119c43db3bd58d~mv2.png/v1/crop/x_240,y_0,w_976,h_957/fill/w_104,h_102,al_c,q_85,usm_0.66_1.00_0.01/Big%20Data%20Logo-Done.webp" alt="大數據實驗室">
		</div>
		<nav>
  
    <!-- <a mat-button routerLink="home">首頁</a>
    <a mat-button routerLink="services">about</a> -->
    <a mat-button routerLink="professor" color="#6E84CD">指導教授</a>
    <a mat-button routerLink="aboutus"  color="#6E84CD">實驗室介紹</a>
				</nav>

		</header>
		<!-- <app-professor></app-professor> -->
		
		
	</div>
</body>
</html>