<body>

	<div class="box-area">

		<!-- <app-professor></app-professor> -->
		<div class="banner-area">
			<div class="title-area">

			<h2>指導教授</h2>
			</div>
		</div>

		<div class="content-area">
			<div class="container">
				<div class="row">
					<div class="wrapper">
						<h2>吳庭育<br>TIN-YU WU</h2>
						<a class="center">Associate Professor at Department of Computer Science and Information Engineering,
							<br>National Ilan University<br>Big Data Lab.(大數據實驗室)
						</a>
						<br>
						<br>
						<br>
						<h3>BIOGRAPHY</h3>
						<p>Tin-Yu Wu currently works as an Assistant Professor in the Department of Computer Science &
							Information Engineering, National Ilan University, Taiwan. He received his M.S. and Ph.D.
							degrees in the Department of Electrical Engineering, National Dong Hwa University, Hualien,
							Taiwan in 2000 and 2007 respectively. His research interests focus on the Big Data, Cloud
							Computing, IoTs and Mobile Computing.

						</p>
						<br>
						<h3>EXPERIENCES</h3>
						<br>

						<ul class="a">
							<li>國立宜蘭大學資訊工程學系 副教授</li>
							<li>國立宜蘭大學圖書資訊館資訊網路組 組長</li>
							<li>國立宜蘭大學資訊工程學系 助理教授</li>
							<li>淡江大學電機工程學系 助理教授</li>
							<li>義守大學資訊工程學系 助理教授</li>
							<li>國立東華大學企業管理學系 兼任講師</li>
							<li>國立東華大學電算中心作業組 組長</li>
						</ul>
						<br>
						<br>
						<h3>RESEARCH AREAS</h3>
						<br>

						<ul class="a">
							<li>大數據挖礦與分析(Big Data Mining and Analytics)</li>
							<li>大數據與雲端運算之MapReduce技術(Big Data Infrastructure, MapReduce and Cloud Computing)</li>
							<li>非關聯式資料資料庫(NoSQL)技術與大數據分析(NoSQL Data Stores and DB Scalability)</li>
							<li>大數據與分散式系統(Distributed File Systems for Big Data)</li>
							<li>感測網路、社交網路與大數據應用(Sensor Network, Social Network and Big Data)</li>
						</ul>
						<br>
						<br>

						<h3>PUBLICATION</h3>
						<p>[1]Tin-Yu Wu, Mohammad S. Obaidat, Hung-Lin Chan, "QualityScan Scheme for Load Balancing
							Efficiency in Vehicular Ad Hoc Networs(VANETs)", Journal of Systems and Software, Vol.
							104,pp.60-68,February 2015.(SCI/EI,JCR 2013:IF=1.245)
							<br>
							<br>
							[2]Wei Kuang Lai, Chih Kun Tai, Tin-Yu Wu, Alagan Anpalagan, Jian Zhi Chen, "PBMP:
							Priority-Based Multi-path Packet Routing for Vehicular Ad Hoc Network System in City
							Environment", Transactions on Emerging Telecommunications Technologies, DOI: 10.1002/ett.
							2909, November2014 (SCI/EI, JCR 2013: IF=1.354)
							<br>
							<br>
							[3]Yan Sun, Tin-Yu Wu, Xinwei Liu, and Mohammad S. Obaidat, "Multi-layered Impact Evaluation
							Model for Attacking Missions", IEEE System Journal, DOI:10.1109/JSYST.2014.2344048 ,
							September 2014. (SCI/EI, JCR 2013: IF=1.746)
							<br>
							<br>
							[4]Yan Sun, Tin-Yu Wu, Guotao zhao, and Mohsen Guizani, "Efficient Rule Engine for Smart
							Building Systems", IEEE Transactions on Computers, DOI10.1109/TC.2014.2345385, August 2014.
							(SCI/EI, JCR 2013: IF=1.473)
							<br>
							<br>
							[5]Tin-Yu Wu, Cheng-Han Lin, "Low-SAR Path Discovery by Particle Swarm Optimization
							Algorithm in Wireless Body Area Networks", IEEE Sensors Journal, Vol. 15, No. 2, pp.928-936,
							February 2015. (SCI/EI, JCR 2013: IF=1.852)
							<br>
							<br>
							[6]Tin-Yu Wu, Alagan Anpalagan, Wei-Tsong Lee, and Ya-Chun Li, "Variable Cyclic Prefix for
							Contention-based Wireless Access in OFDM-based Vehicular Communication Systems",Wireless
							Personal Communications (WPC), Vol. 77, Issue 3, pp.1905-1922, August 2014.. (SCI/EI, JCR
							2013: IF=0.979)
							<br>
							<br>
							[7]Tin-Yu Wu, Wei-Tsong Lee, Nadra Guizani and Tzu-Ming Wang, "Incentive mechanism for P2P
							file sharing based on social network and game theory", Journal of Network and Computer
							Applications(JNCA), Vol. 41, pp.47-55, May 2014. (SCI/EI, JCR 2013: IF=1.772)
							<br>
							<br>
							[8]Tin-Yu Wu, Jeng-Shyang Pan, and Chia-Fan Lin, "Improving Accessing Efficiency of Cloud
							Storage Using De-duplication and Feedback Schemes", IEEE Systems Journal, Vol. 8, Number 1,
							pp. 208-218, March 2014. (SCI/EI, JCR 2013: IF=1.746)
							<br>
							<br>
							[9]Tin-Yu Wu, Sghaier Guizani, Wei-Tsong Lee, and Po-Chang Huang, "An Enhanced Structure of
							Layered Forward Error Correction and Interleaving for Scalable Video Coding in Wireless
							Video Delivery", IEEE Wireless Communications Magazine, Vol. 20, No. 4, August 2013.
							(SCI/EI, JCR 2013: IF=6.524)
							<br>
							<br>
							[10]Tin-Yu Wu, Guan-Hsiung Liaw, Sing-Wei Huang, Wei-Tsong Lee, Chung-Chi Wu, "A GA-based
							Mobile RFID Localization Scheme for Internet of Things", Journal of Personal and Ubiquitous
							Computing, Vol. 16, Issue 3, pp. 245-258, March 2012. (SCI/EI, JCR 2013: IF=1.616)
							<br>
							<br>
							[11]Tin-Yu Wu, Yan-Bo Wang, and Wei-Tsong Lee, "Mixing Greedy and Predictive approaches to
							Improve Geographic Routing for VANET", Wireless Communications and Mobile Computing (WCMC),
							Vol. 12, Issue 4, pp. 367-378, March 2012. (SCI/EI, JCR 2013: IF=1.291)
							<br>
							<br>
							[12]Tin-Yu Wu, S. Guizani, Wei-Tsong Lee, and Kuo-Hung Liao, "Improving RSU service time by
							Distributed Sorting Mechanism", Ad Hoc Networks, Vol. 10, Issue 2, pp. 212-221, March 2012.
							(SCI/EI, JCR 2013: IF=1.943)
							<br>
							<br>
							[13]Tin-Yu Wu, Wei Chen, Wei-Tsong Lee, and Yong-Ping Huang, "Improving Handoff Efficiency
							by IS-FMIPv6 Based on IEEE 802.21", Concurrency and Computation: Practice and Experience,
							Vol. 24, Issue 4, pp. 369-380, March 2012.(SCI/EI, JCR 2013: IF=0.784)
							<br>
							<br>
							[14]I-Ju Liao, Tin-Yu Wu, Jen-Wen Ding, and Wei-Tsong Lee, "A Novel 3D Streaming Protocol
							Supported Multi Mode Display", Journal of Networking and Computer Applications (JNCA), Vol.
							34, Issue 5, pp. 1509-1517, September 2011. (SCI/EI, JCR 2013: IF=1.772)
							<br>
							<br>
							[15]Tin-Yu Wu, and Wei-Fang Weng, "Reducing handoff delay of wireless access in vehicular
							environments by artificial neural network-based geographical fingerprint", IET
							Communications, Vol. 5, Issue 4, pp. 542-553, March 2011. (SCI/EI, JCR 2013: IF=0.72)
							<br>
							<br>
							[16]Jen-Wen Ding, D.J. Deng, Tin-Yu Wu, H.H. Chen, "Quality-Aware Bandwidth Allocation for
							Scalable On-Demand Streaming in Wireless Networks", IEEE Journal on Selected Areas in
							Communications, Vol. 28, No. 3, pp. 366-376, April 2010. (SCI/EI, JCR 2013: IF=4.138)
						</p>
						<br>
						<br>
						<h3>RESEARCH PROJECTS</h3>
						<br>
						<h4>A.Project Investigator(計畫主持人)</h4>
						<ul class="a">
							<br>
							<div *ngFor="let projectA of projectsA">
							<li>
								<a class="thick">{{projectA.title}}</a><br>{{projectA.details}}
							</li>
							<br>
						</div>
						</ul>
						<h4>B.Project Co-Investigator(計畫偕同主持人或參與人員)
						</h4>
						<ul class="a">
							<br>
							<div *ngFor="let projectB of projectsB">
							<li>
								<a class="thick">{{projectB.title}}</a><br>{{projectB.details}}
							</li>
							<br>
						</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<app-footer></app-footer>