<body>

  <div class="box-area">

    <!-- <app-professor></app-professor> -->
    <div class="banner-area">
      <h2>實驗室成員</h2>
    </div>
    <div class="content-area">
      <div class="container">
        <div class="row">
          <div class="wrapper">

            <h2>歷年成員</h2>
            <div *ngIf="y104.length>0">
              <h3>104年畢業生</h3>
              
              <div class="container-fluid">

                <div *ngFor="let student of y104">
                  <div class="col-md-12">
                  <div class="card-f">
                  <div class="col-md-4">
                    
                      <div [ngClass]="student.male == true ? 'avatar': 'avatar-f'">
                      </div>
                      </div>
                      <div class="col-md-8">

                      <p>
                        {{student.name}}<br>
                        畢業論文:{{student.title}}<br>
                        {{student.uni}}<br>
                        {{student.study}}

                      </p>
                  </div>
                  </div>
                </div>
                </div>
              </div>

            </div>
            <br>
            <br>
           

          </div>
        </div>

      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>